* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*Utility*/

ul {
    list-style-type: none;
}

/*Header*/

header {
    height: 70px;
    background-color: #FE6900;
    display: flex;
}

#leaderboard {
    display: flex;
    width: 75%;
    margin: auto;
    height: 40px;
    text-align: center;
    align-self: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#gender {
    display: flex;
    width: 20%;
    margin: auto;
    color: white;
    font-weight: 600;
}

#logo {
    display: flex;
    width: 60%;
    margin: auto;
    height: 30px;
    color: white;
    justify-content: center;
    align-items: center;
}

#boolean {
    height: 40px;
}

#header-icons {
    display: flex;
    width: 20%;
    margin: auto;
    height: 30px;
    color: white;
    justify-content: flex-end;
}

#da-flexare {
    display: flex;
    gap: 8px;
    align-items: center;
}

/*Body*/

#container {
    width: 80%;
    margin: auto;
    padding: 40px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.col {
    width: calc((100% / 3) - (20px / 3));
    flex-shrink: 0;
    background-color: blueviolet;
    min-height: 150px;
}

.card {
    position: relative;
    text-align: center;
    cursor: pointer;
}

.card img {
    max-width: 100%;
}

.discount-label {
    padding: 4px 10px;
    background-color: red;
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: 15%;
    left: 0;
}

/*Footer*/

footer {
    height: 120px;
    background-color: #1a1a1a;
    display: flex;
    color: white;
}

#bottomboard {
    display: flex;
    width: 75%;
    margin: auto;
}

#srl {
    width: 89%;
    color: white;
}

#boolando-srl {
    display: flex;
    font-size: small;
    gap: 10px;
    padding-top: 10px;
}

#find-us {
    display: flex;
    font-size: x-large;
    gap: 10px;
    padding-top: 10px;
}

